.bg_color{
    background-color: rgb(186, 229, 240);
    position: fixed;
  }
  .col-lg-4 .card{
    /* min-height: 750px; */
    border: 1px solid grey;
    margin-left: 20px;
    width: inherit;
    /* width: 20rem; */
  }
  .col-lg-4 .design img{
    max-height:350px;
    padding-left: 4px;
    padding-right: 4px
  }
  #mrp{
    margin-right: 12px;
    font-size: 2%;
    text-decoration: line-through
  }
  #price{
    font-size: 29px;
  }
  .col-lg-4 .card .card-body .Text-card{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
  }
  .card:hover{
    box-shadow: 2px 2px 2px 2px rgb(148, 201, 231);
  }
  .round{
    width: 270px;
    height: 270px;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(52, 117, 238);
    color: black;
    border: 1px #020203;
    padding-top: inherit;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 20px;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
  .col-lg-4 .card .card-body .button-card{
  margin-bottom: 10px;
  margin-top: 15px;
  }
  .round:hover{
    text-decoration: none;
    background-color: rgb(45, 125, 216);
    color: white;
    
  }
  a.round img.deminished{
  transform: rotate(270deg);
  border-radius: 100%;
  width:100px;
  height: 100px;
  margin-top: 10px;
  object-fit: cover;
  align-content: center;
  }
  .page-buttons{
  background-color: #f0f2f5;
  margin-left: 20px;
  margin-bottom: 10px;
  width:40px;
  height: 30px;
  color: #020203;
  text-align: center;
  align-content: center;
}
 span :hover{
  background-color: #020203;
  color: aliceblue;
  text-decoration: none;
}
.inner{
  overflow: hidden;
  text-align:center;
  margin-top:5px;
}
.col-lg-4 .overall p{
  margin-right: 30px;
  font-size: 17px;
}
.col-lg-4 .overall p button{
  margin-left:15px;
  background-color:	#008000;
}
.inner img{
  transition: all 1.4s ease;
  align-content: center;
}
.inner:hover img{
  transform: scale(1.5);
  overflow: hidden;
}
.col-lg-4 .card .effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.col-lg-4 .card .effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.col-lg-4 .card .effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
button.btn-sm{
  font-size: 17px;
  color: #020203;
}
@media only screen and (min-width: 768px){
  .col-lg-4 .design img{
    max-width: 200px;
  }
  .round{
    width: 220px;
    height: 220px;
    margin-left: 4%;
    margin-top: 4%
    }
  }
