#lastsec_img img{
                max-height:180px; }
#lastsec_img{
             margin-top:8%;
             margin-bottom:8%; }
#main_img img{
             max-height:200px;}
        .product-item-holder{
            margin-bottom:30px;
        }
         h3{
           font-size:18px;
           line-height:24px;
           color:#3498db;
           margin:20px 0px;
        }
    .product-item-holder{
           margin-bottom:40px;
}



